.popup__full-composition {
    display: flex;
    color: #000;
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    line-height: 35px;
    margin-block-start: 0;
    margin-block-end: 0;
}