.contacts__grid_item{
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 10px 5px;
    color: #fefcff;
    background-color: #800517;
    border-radius: 10px;
    align-items: center;
    padding-left: 10px;
}

@media screen and (max-width: 650px){
    .contacts__grid_item{
        /*background-color: transparent;*/
        min-height: 35px;
    }
}