.popup__container{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 5;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 750px){
    .popup__container{
        max-width: 320px;
    }
}