.presents {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin: 0 auto 50px;
}

@media screen and (max-width: 950px){
    .presents{
        max-width: 600px;
    }
}

@media screen and (max-width: 650px){
    .presents{
        max-width: 280px;
        align-content: center;
        justify-content: center;
    }
}