.footer{
    background-color: #8C001A;
    color: #fefcff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    flex-shrink: 0;
}

@media screen and (max-width: 650px){
    .footer{
        flex-direction: column;
        text-align: center;
    }
}